<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <title>Detail</title>
</head>

<body>
  <diary-header title="상세 페이지"/>
  <detail-main />
</body>

</html>
