<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>MyDiary</title>
</head>

<body>
  <diary-header title="MY DIARY"/>
  <diary-main />
  <a href="./test/test.html">html</a>
  <a href="/detail">html</a>
</body>

</html>
